*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main aside{
    background-color: aqua;
}
body{
    background-color: tomato;
}
main article{
    background-color: blue;
}
p{
    color: brown;
    background-color: white;
}